<h1 class="pageTitle">About Me</h1>
<img id="headshot" src="/api/images/profile.png" alt="headshot" />
<div>
    <p>
        Proud stepfather of two, with a passion for technology.
    </p>
    <section>
        <h2>Acknowledgements:</h2>
        <h3>Okanagan College:</h3>
        <p>
            Thank you to the <a href="https://www.okanagan.bc.ca/science/computer-science">Department of Computer Science</a> and
            professors Kenneth Chidlow, Jim Nastos, Alan Kennedy, Deb Warren, Sarah Foss, Arthur Boehm, and Matthew Fritter.
        </p>
        <p>
            I'm glad to have had the chance to learn alongside the numerous others pursuing this field during
            my education.
        </p>
        <h3> Online Resources: </h3>
        <p>
            Thanks for the existence of the amazing 
            <a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a> by Mozilla
        </p>
        <p>
            Thanks to Kyle from the <a href="https://www.youtube.com/c/WebDevSimplified">Web Dev Simplified</a> 
            channel and its wealth of useful and specific content.
        </p>
        <p>
            Thanks to <a href="https://www.youtube.com/kepowob">Kevin Powell</a> 
            for giving a vast teaching on UX and front-end work that I never knew I needed.
        </p>
        <p> 
            And lastly thanks to <a href="https://blog.miguelgrinberg.com">Miguel Grinberg</a> for the detailed guides 
            on getting React and Flask to play nice!
        </p>
    </section>
</div>