<h1 class="pageTitle">Welcome</h1>

<p>
    Hi there! My name is <mark>Clay Gale</mark>, and this site is an elaborate compilation of my works and skills.
    I am entering my career as a full-stack developer and I invite you check out my projects,
    which include web design, software, technical writing, and data analysis.

</p>
<p>
    Programming is a profound passion of mine, and I look forward to expanding my skill set and future horizons.
    Any recruiters who have been linked here should check out my in-depth <mark>resume</mark> below, and follow its <mark>links</mark>
    to my <mark>projects</mark> and <mark>courses.</mark>
</p>
