<div style="grid-area: subheader;">
    <h2> Education: BCIS Degree </h2>
    <p>
        I obtained my degree from Okanagan College, acquiring the 
        <a href="https://www.okanagan.bc.ca/bachelor-of-computer-information-systems-degree">Bachelor of Computer Information Systems.</a>
    </p>
    <p>
        During my education I was able to build diverse foundational IT skills
        and learn the basics of several coding languages.
        The courses involving group projects allowed me to develop excellent teamwork and presentation skills.
        My most notable project was working on a team prototyping analytic tools for 
        <a href="https://isearchkelowna.ca">i-Search Kelowna</a>.
        More details on this assignment can be found in the projects section.

    </p>
    <p>
        The wide skill set and solid foundation of object-oriented programming, data structures, and algorithms
        allows me to easily approach new languages and frameworks. I committed to this profession due to the work 
        piquing my curiosity and enthusiasm, and the potential for advancement in this career to provide remarkable 
        support for my family's future.
    </p>
</div>
<div style="grid-area: sublist;">
    <h2>Secondary Skills</h2>
    <ul>
        <li>
            Microsoft Office
        </li>
        <li>
            Mass Computer Setup and Deconstruction
        </li>
        <li>
            Presentation
        </li>
        <li>
            Customer Service
        </li>
        <li>
            Training
        </li>
    </ul>
</div>

