{% extends "foundation.html" %}

{% block content %}
    <h1>Welcome</h1>
    <div> <!-- TODO -->
        <p>Hello, my name is Clay Gale, and I am writing with the intention of filling an open junior software
            or IT position at your organization. Recently I graduated with a Bachelor of Computer Information Systems program from Okanagan
College. I am trained in several industry standard coding languages as well as common software such as LAMP and SQL.
My education covered a diverse number of aspects of software and server development.
During my schooling I have been a part of several projects that I worked on including both web and non web applications.
I am capable of rapid adaptation to any technical requirement for a project; aswell, I have proven skills with annotating
and documenting code. These documentation skills also extend to writing technical manuals for software.
Hopefully my resume provides for you an understanding of my skill set.
Thank you for your consideration.
Sincerely,
Clay</p>
    </div>

    <div> <!-- TODO -->
        TODO resume in dynamic display format
    </div>
{% endblock %}