/* Splash text animations */
/* transition: all; is generally bad practice but the splash element has only a few elements and 
    not that many properties so it is worth using it here to get things looking just right

*/
.my-splash-enter {
    opacity: 0;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
    transition-delay: 0.1s;
}


.my-splash-enter-active {

    opacity: 1;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
    transition-delay: 0.1s;
}

    .my-splash-enter::before,
    .my-splash-enter-active::before,
    .my-splash-enter-done::before,
    .my-splash-exit-active::before {
        width: 100%;
        height: 100%;
    }


.my-splash-enter-done {
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
    transition-delay: 0.1s;
}

.my-splash-exit {
    font-size: 100px;
    top: 0%;
    left: 45%;
    transition: all 700ms ease;
}


.my-splash-exit-active {
    left: 50%;
}

    .my-splash-exit-active::before {
        opacity: 0;
        transition: all 700ms ease;
    }

    .my-splash-exit-active > h1 {
        font-size: 48px;
        margin: 0 auto 0 auto;
        letter-spacing: 3px;
        transform: translateX(-50%) !important;
        transition: all 500ms ease;
    }

    .my-splash-exit-active > h3 {
        transform: translate(100%, 200%) !important;
        opacity: 0;
        margin: 0;
        transition: all 700ms ease;
    }

.my-splash-exit-done {
    left: 50%;
    transition: all 700ms ease;
}

    .my-splash-exit-done > h1 {
        font-size: 48px;
        margin: 0 auto 0 auto;
        letter-spacing: 3px;
        transform: translateX(-50%) !important;
        transition: all 700ms ease;
    }
    .my-splash-exit-done > h3 {
        display: none;
    }
@media only screen and (min-width: 1730px) {
    .my-splash-exit {
        font-size: 100px;
        top: 0%;
        left: 0%;
        transition: all 700ms ease;
    }

    .my-splash-exit-active {
        left: 0%;
    }

    .my-splash-exit-done {
        left: 0%;
        transition: all 700ms ease;
    }

    .my-splash-exit-active > h1 {
        font-size: 48px;
        left: 0%;
        transform: translateY(0.5em) !important;
        transition: all 500ms ease;
    }
    .my-splash-exit-done > h1 {
        font-size: 48px;
        left: 0%;
        transform: translateY(0.5em) !important;
        transition: all 500ms ease;
    }
} /* Enabling the two alternate positions of my name at different screen sizes */

@media only screen and (max-width: 1730px) { 
    .my-splash-exit-active > h1 {
        -webkit-text-fill-color: white !important;
    }

    .my-splash-exit-done > h1 {
        -webkit-text-fill-color: white !important;
    }
} /* using the !important tag and a max-width media query isn't great practice but this solves 
      my text coloring problem with the least number of properties
  */
@media only screen and (max-width: 1100px) {
    .my-splash-enter h1,
    .my-splash-enter-active h1,
    .my-splash-enter-done h1 {
        font-size: 100px !important;
        transition: all 700ms ease;
    }
    .my-splash-enter h3,
    .my-splash-enter-active h3,
    .my-splash-enter-done h3,
    .my-splash-exit h3 {
        font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem) !important;
        transition: all 700ms ease;
    }
}
/* same issue here, preventing ugly overflow on the splash screen with minimal excess properties */

    .my-splash-exit-done::before {
        opacity: 0;
    }


    .my-splash-exit-done > h3 {
        opacity: 0;
    }


    /* nav animations 
only uses exit classes as the animations of this component are tied to the same state as the splash component*/

.my-nav-exit-active,
.my-nav-exit-done{
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity, transform, padding, max-width;
}

/* frame animations */
.my-frame-enter {
    transform: translateX(-1rem);
    opacity: 0.1;
    transition-property: opacity, transform !important;
}

.my-frame-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition-property: opacity, transform !important;
}

.my-frame-exit {
    opacity: 1;
    transition-property: opacity !important;
}

.my-frame-exit-active {
    transform: translateX(1rem);
    opacity: 0.1;
    transition-property: opacity, transform !important;
}

/* showcase animations */
.my-showcase-enter {
    transform: translateY(1rem);
    opacity: 0.1;
}

.my-showcase-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition-property: opacity, transform !important;
}
.my-showcase-exit {
    opacity: 1;
}

.my-showcase-exit-active {
    transform: translateY(1rem);
    opacity: 0.1;
    transition-property: opacity, transform !important;
}

.my-showcase-enter > .mask {
    opacity: 0;
}/* properties for fading the backdrop in and out */


.my-showcase-exit > .mask {
    opacity: 0.5;
}
.my-showcase-exit-active > .mask {
    opacity: 0.1;
}

/* search animations */
.my-search-enter {
    transform: none;
    filter: blur(3px);
}
    .my-search-enter > div {
        opacity: 0.1;
        transform: translate(-1rem,-1rem);
        filter: blur(2px);
    }

.my-search-enter-active {
    transform: none;
    filter: blur(0);
    opacity: 1;
    transition: var(--longTransition);
    transition-property: filter, opacity, transform;
}

.my-search-enter-done {
    transform: none;
    filter: blur(0);
    opacity: 1;
    transition: var(--medTransition);
    transition-property: filter, opacity, transform;
}
    .my-search-enter-done > div {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
        transition: inherit;
        transition-property: filter, opacity, transform, inset;
    }
    /* sequence delaying for the children of the div up to the initially visible limit */
    .my-search-enter-done > .schoolContainer:nth-child(2) {
        transition-delay: 0.05s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(3) {
        transition-delay: 0.1s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(4) {
        transition-delay: 0.15s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(5) {
        transition-delay: 0.2s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(6) {
        transition-delay: 0.25s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(7) {
        transition-delay: 0.3s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(8) {
        transition-delay: 0.35s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(9) {
        transition-delay: 0.4s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(10) {
        transition-delay: 0.45s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(11) {
        transition-delay: 0.5s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(12) {
        transition-delay: 0.55s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(13) {
        transition-delay: 0.6s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(14) {
        transition-delay: 0.65s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(15) {
        transition-delay: 0.7s ;
    }

    .my-search-enter-done > .schoolContainer:nth-child(16) {
        transition-delay: 0.75s ;
    }

    .my-search-enter-done > .project:nth-child(2) {
        transition-delay: 0.1s ;
    }
    .my-search-enter-done > .project:nth-child(3) {
        transition-delay: 0.2s ;
    }
    .my-search-enter-done > .project:nth-child(4) {
        transition-delay: 0.3s ;
    }
    .my-search-enter-done > .project:nth-child(5) {
        transition-delay: 0.4s ;
    }

.my-search-exit {
    opacity: 1;
    filter: blur(0);
    transition-property: filter, opacity, transform;
}

.my-search-exit-active {
    transform: translate(-1rem,-1rem);
    filter: blur(5px);
    opacity: 0.1;
    transition: var(--medTransition);
    transition-property: filter, opacity, transform;
}