/*

*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Harmattan:wght@400;700&family=Quicksand&display=swap');

:root {
    /* color vars */
    --myBurgundy: hsl(332, 79%, 23%);
    --myDarkerBurgundy: hsl(343, 85%, 16%);
    --myDarkestBurgundy: hsl(0, 100%, 5%);
    --myCream: hsl(62, 83%, 93%);
    --myGoldenYellow: hsl(38, 96%, 63%);
    --myVeryGoldenYellow: hsl(34, 100%, 55%);
    --myGrey: hsl(217, 14%, 70%);
    --myOffBlack: hsla(0, 0%, 0%, .75);
    /* font variables */
    --titleFont: 'Bebas Neue', serif;
    --subtitleFont: 'Quicksand', sans-serif;
    --bodyFont: 'Harmattan', sans-serif;
    /* transition timing variables */
    --quickTransition: all 0.2s ease;
    --medTransition: all 0.4s ease;
    --longTransition: all 0.6s ease;
}


body {
    max-width: 1080px;
    margin: auto;
    padding: 0 0.5em;
    background-color: white;
    

}

#mainView { /* fixing height to keep the contact bar stuck to the bottom of the screen */
    min-height: 75vh;
}
/*
    styling for top navigation bar
*/
nav {
    /* content properties */
    position: sticky;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 65px 80px 15px 80px;
    color: white;
    background-image: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
    margin: auto;
    opacity: 0;
    transform: translateY(-3em);
    font-size: 32px;
    transition: var(--longTransition);
}
@media only screen and (min-width: 600px) {
    nav {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1730px) {
    body {
        max-width:1380px;
    }
    
    nav {
        grid-template-columns: repeat(4, 1fr);
        padding: 40px 120px 40px 120px;
        max-width: unset;
    }
}

/* main content styling - mainly typography */
#content {
    max-width: 1280px;
    margin: 0 60px 0 60px;
}

    #content h1 {
        line-height: 85%;
        position: center;
    }

    #content p {
        line-height: 165%;
        color: var(--myOffBlack);
        font-family: var(--bodyFont);
        font-size: 14pt;
        /*letter-spacing: 1px;*/
    }
.pageTitle {
    margin: 1rem;
    font-size: 20pt;
    background: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 600px) {
    #content p {
        width: max(70%, 500px);
        font-size: 18pt;
    }

    .pageTitle {
        font-size: 40pt;
    }
}
/* splash text main styling - most of the effect happens in the anim.css sheet */
#splash {
    position: absolute;
    font-family: var(--titleFont);
    color: var(--myDarkerBurgundy);
    z-index: 2;
}

    #splash::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: -1;
        transition: var(--longTransition);
    }
    /* This pseudo element whites out the rest of the elements behind the splash text */

    #splash > h1 {
        margin: 0;
        background: linear-gradient(to top, var(--myBurgundy), var(--myDarkerBurgundy));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #splash > * {
        transform: translateX(1rem);
    }

/* styling for bottom screen contact bar */

#contactBar {
    position:sticky;
    inset: auto auto 0 auto;
    padding: 1rem;
    font-family: var(--bodyFont);
    background: linear-gradient(to bottom, var(--myDarkerBurgundy), var(--myDarkestBurgundy));
    color: white;
}

    #contactBar * {
        display: inline-block;
        margin: 0.4em;
    }


    #contactBar * {
        font-size: 14pt;
    }

@media only screen and (min-width: 600px) {
    #contactBar {
        inset: auto 0 0 0;
    }
}

@media only screen and (min-width: 800px) {
    #contactBar {
        inset: auto 20vw 0 20vw;
    }
}
/*button styling and animaton*/

button {
    font-family: var(--titleFont);
    color: inherit;
    font-size: inherit;
    /* tidying ugly default button style */
    border: none;
    padding: 0;
}

/* properties for the navigation buttons */
.navlink {
    position: relative;
    background-color: hsl(0, 0%, 100%, 0);
    border-radius: 6px;
    transition: var(--quickTransition);
    transition-property: background-color;
    overflow: hidden;
}

    .navlink:hover {
        background-color: hsl(0, 0%, 100%, 0.3);
        transition: var(--quickTransition);
        transition-property: background-color;
    }

    .navlink::after {
        content: "";
        background-color: var(--myCream);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 150%;
        margin-top: -18%;
        opacity: 0;
        transition: var(--medTransition);
        transition-property: margin padding;
        transition-timing-function: ease-out;
        /* the margin and padding on this function effectively work as timing for the ripple effect */
    }

    .navlink:active::after {
        opacity: 1;
        padding: 0;
        transition: 0s;
    }

/* resume grid formatting */

#resume {
    display: grid;
    grid-template-areas:
        "list"
        "body";
    font-family: var(--bodyFont);
    font-size: 14pt;
    margin: auto;
}

#categories {
    display: grid;
    grid-area: list;
    grid-template-columns: 33% 33% 33%;
    color: white;
    background: radial-gradient(ellipse at top left, var(--myDarkerBurgundy) 23%, transparent), radial-gradient(ellipse at bottom right, var(--myDarkerBurgundy) 23%, transparent);
    box-shadow: white 0px 0px 2px 3px inset;
    transition: var(--quickTransition);
}

    #categories > ul {
        font-size: 14pt;
    }

    #categories li {
        font-size: 12pt;
        border-radius: 6px;
        padding: 0 1rem;
        margin-left: 1rem;
        width: fit-content;
        text-decoration: underline;
        cursor: default;
        transition: var(--quickTransition);
    }

        #categories li:hover {
            background-color: hsl(0, 0%, 100%, 0.3);
            transition: var(--quickTransition);
            text-decoration: unset;
            transition-property: background-color;
        }

        #categories li:active {
            background-color: var(--myCream);
            transition: var(--quickTransition);
            transition-property: background-color;
        }

.projectSkill {
    font-weight:700;
}

#resumeBody {
    display: grid;
    grid-area: body;
    grid-template-areas:
        "sublist"
        "subheader";
    max-width: 1280px;
    margin: 0 60px;
    color: var(--myOffBlack);
    font-family: var(--bodyFont);
    font-size: 14pt;
}

    #resumeBody li {
        display: inline-block;
        list-style-position: inside;
        list-style-type: disc;
        margin: 0 1rem;
    }

@media only screen and (min-width: 1000px) {
    #resumeBody {
        grid-template-areas:
            "subheader sublist";
    }
    #resumeBody li {
        display:block;
    }
    
    #categories {
        line-height: 95%;
        margin: auto 10% auto 10%;
    }
    #categories > ul {
        font-size: 20pt;
    }

        #categories li {
            font-size: 14pt;
        }
}
/* general text formatting */
h1 { /* titles and headers */
    font-family: var(--titleFont);
    color: var(--myDarkerBurgundy);
}

h2 { /* Sub headers mainly used in the education tab */
    text-transform: capitalize;
    font-family: var(--subtitleFont);
    font-size: 14pt;
}

    h2::first-letter {
        text-transform: capitalize;
    }
