/*

*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap');

:root {
    /* color vars */
    --myBurgundy: hsl(332, 79%, 23%);
    --myDarkerBurgundy: hsl(343, 85%, 16%);
    --myDarkestBurgundy: hsl(0, 100%, 5%);
    --myCream: hsl(62, 83%, 93%);
    --myGoldenYellow: hsl(38, 96%, 63%);
    --myVeryGoldenYellow: hsl(34, 100%, 55%);
    --myGrey: hsl(217, 14%, 70%);
    --myOffBlack: hsl(0, 0%, 9%);
    /* font variables */
    --bebas: 'Bebas Neue', cursive;
    --smooch: 'Smooch Sans', sans-serif;
    /* transition timing variables */
    --quickTransition: all 0.3s ease;
    --medTransition: all 0.5s ease;
    --longTransition: all 0.7s ease;
}

body {
    max-width: 1380px;
    margin: auto;
    background-color: white;
}
/*
    #a8b0bd
    styling for top navigation bar
*/
nav {
    /* content properties */
    position: sticky;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 65px 80px 15px 80px;
    color: white;
    background-image: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
    margin: auto;
    opacity: 0;
    transform: translateY(-3em);
    font-size: 32px;
    transition: var(--longTransition);
}
@media only screen and (min-width: 600px) {
    nav {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1730px) {
    nav {
        grid-template-columns: repeat(4, 1fr);
        padding: 40px 120px 40px 120px;
        max-width: unset;
    }
}

/* main content styling - mainly typography */
#content {
    max-width: 1280px;
    margin: 0 60px 0 60px;
}
    .pageTitle {
        margin: 1rem;
        font-size: 40pt;
        background: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #content p {
        line-height: 165%;
        color: var(--myOffBlack);
        font-family: var(--smooch);
        font-size: 11pt;
        letter-spacing: 1px;
        width: max(70%, 500px);
    }

    /* splash text main styling - most of the effect happins in the anim.css sheet */
#splash {
    position: absolute;
    font-family: var(--bebas);
    color: var(--myDarkerBurgundy);
    z-index: 2;
}

    #splash::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: -1;
        transition: var(--longTransition);
    }
    /* This pseudo element whites out the rest of the elements behind the splash text */

    #splash > h1 {
        margin: 0;
        background: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #splash > * {
        transform: translateX(1rem);
    }

/* project page styling */
#projects {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 10px;
    padding: 20px;
    box-shadow: inset white 5px 5px;
    
}

.project {
    /* spacing */
    display: grid;
    transition: var(--medTransition);
}

    .project:hover {
        transform: translate(3px, 3px);
        transition: var(--medTransition);
    }

    .project::after {
        content: '';
        display: block;
        background-color: var(--myCream);
        border-radius: 4px;
        box-shadow: 0px 0px 2px 1px var(--myGoldenYellow);
        position: fixed;
        transition: var(--medTransition);
        width: 100%;
        height: 100%;
        right: 10px;
        top: 10px;
        z-index: -1;
        opacity: 0;
    }

    .project:hover::after {
        opacity: 0.7;
        transition: var(--medTransition);
        transform: translate(-3px, -3px);
    }

/* education page styling */
#education {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    grid-template-areas:
        "one"
        "one"
        "one";
    gap: 10px;
    padding: 20px;
}

.schoolClass {
    inset: 30% 40% auto 40%;
}
    .schoolClass > * {
        margin: 0.5em;
    }

    .schoolClass > h1,
    .schoolClass > h2 {
        white-space:nowrap;
        width: min(auto, 50%);
        display: inline;
    }

    .schoolClass > p {
        display: none;
        text-align: center;
        float: left;
    }

/* school class hover transition properties */

.schoolContainer { /* this container allows the .schoolClass to pop out of the element without breaking the grid */
    transition: var(--longTransition);
    transition-property: box-shadow background;
    margin: 0 2px;
    overflow: hidden;
}
/* The trio of selectors allows for a combination of tapping on mobile and mouseover */
    .schoolContainer:hover, 
    .schoolContainer:focus, 
    .schoolContainer:active {
        background: radial-gradient(closest-corner, var(--myCream), white);
        box-shadow: 0px 0px 2px 1px var(--myGrey);
        border-radius: 4px;
        transition: var(--quickTransition);
        transition-property: box-shadow background;
    }

        .schoolContainer:hover > .schoolClass,
        .schoolContainer:focus > .schoolClass,
        .schoolContainer:active > .schoolClass {
            position: fixed;
            inset: 160px 30vw auto 30vw;
            box-shadow: 0px 0px 2px 1px var(--myGoldenYellow);
            border-radius: 4px;
            background-color: var(--myCream);
            transition: var(--quickTransition);
            transition-property: background-color inset;
            z-index: 1;
        }

            .schoolContainer:hover > .schoolClass > p,
            .schoolContainer:focus > .schoolClass > p,
            .schoolContainer:active > .schoolClass > p {
                display: unset;
            }


/* showcase properties */

#showcase {
    position: fixed;
    border-radius: 3px;
    z-index: 1;
    inset: 160px 30vw auto 30vw;
}

.mask {
    position: fixed;
    inset: 0 0 0 0;
    background-color: white;
    z-index: -1;
    opacity: 0.5;
    transition: var(--medTransition);
    transition-property: opacity;
}

#showcaseContent {
    position: relative;
    z-index: 1;
    background-color: var(--myCream);
    box-shadow: 0px 0px 2px 1px var(--myGoldenYellow);

    padding: 1em;
}

/* styling for bottom screen contact bar */
#contactBar {
    position: fixed;
    inset: auto 35vw 0 35vw;
    max-width: 800px;
    padding: 1rem;
    font-family: var(--smooch);
    background: linear-gradient(to bottom, var(--myDarkerBurgundy), var(--myDarkestBurgundy));
    color: white;
}

    #contactBar * {
        margin: 0.4em 0;
    }

/*button styling and animaton*/
.closeButton {
    position: absolute;
    inset: 0 0 auto auto;
    z-index: 2;
}

button {
    font-family: var(--bebas);
    color: inherit;
    font-size: inherit;
    /* tidying ugly default button style */
    border: none;
    padding: 0;
}

.navlink {
    position: relative;
    background-color: hsl(0, 0%, 100%, 0);
    border-radius: 6px;
    transition: var(--quickTransition);
    transition-property: background-color;
    overflow: hidden;
}

.navlink:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
    transition: var(--quickTransition);
    transition-property: background-color;
}

    .navlink::after {
        content: "";
        background-color: var(--myCream);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 150%;
        margin-top: -18%;
        opacity: 0;
        transition: var(--medTransition);
        transition-property: margin padding;
        transition-timing-function: ease-out;
        /* the margin and padding on this function effectively work as timing for the ripple effect */
    }

    .navlink:active::after {
        opacity: 1;
        padding: 0;
        transition: 0s;
    }

/* general text formatting */
h1 { /* titles and headers */
    font-family: var(--bebas);
    color: var(--myDarkerBurgundy);
    position: center;
}

h2 {
    text-transform: capitalize;
    font-family: var(--bebas);
}

p {
}
/*
    font-family: 'Bebas Neue', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Encode Sans', sans-serif;

    font-family: 'News Cycle', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Red Hat Display', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
*/
