/* I isolated the scrollbar properties to avoid confusion in the main file and to ease toggling */
.scrolling::-webkit-scrollbar {
    height: 1em;
}

.scrolling::-webkit-scrollbar-track {
    background: var(--myCream);
    border-radius: 2px;
}

.scrolling::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--myBurgundy), var(--myDarkerBurgundy));
    border-radius: 2px;
}

.scrolling {
    overflow-x: auto;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
}

.snapping {
    /* Snapping behavior below */
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 3px;
}

    .snapping > * {
        scroll-snap-align: start;
    }

/* Firefox property below*/

@supports (scrollbar-color: white white) {
    .scrolling {
        scrollbar-color: var(--myDarkerBurgundy) var(--myCream);
    }
}