/* body animations */
.my-main-enter {
    opacity: 0;
}

.my-main-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}

.my-main-exit {
    opacity: 1;
}

.my-main-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

/* nav animations */
/* matrix parameters: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
.my-nav-enter {
    opacity: 0;
    transform: translateY(-100px) scaleY(0);
}

.my-nav-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms, transform 500ms ease;
}

.my-nav-exit {
    opacity: 1;
}

.my-nav-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* frame animations */
.my-frame-enter {
    opacity: 0;
}

.my-frame-enter-active {
    opacity: 1;
    transition: opacity 300ms, height ease-in-out 300ms;
}

.my-frame-exit {
    opacity: 1;
}

.my-frame-exit-active {
    opacity: 0;
    transition: opacity 300ms, height ease-in-out 300ms;
}
