/* Splash text animations */
.my-splash-enter {
    opacity: 0;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}


.my-splash-enter-active {
    opacity: 1;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}

    .my-splash-enter::before,
    .my-splash-enter-active::before,
    .my-splash-enter-done::before,
    .my-splash-exit-active::before {
        width: 100%;
        height: 100%;
    }


.my-splash-enter-done {
    font-size: 100px;
    top: 0%;
    left: 0%;
}

.my-splash-exit {
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}


.my-splash-exit-active {
}

    .my-splash-exit-active::before {
        opacity: 0;
        transition: all 700ms ease;
    }

    .my-splash-exit-active > h1 {
        font-size: 48px;
        top: 0%;
        left: 0%;
        transition: all 500ms ease;
    }

    .my-splash-exit-active > h3 {
        transform: translate(100%, 200%);
        opacity: 0;
        transition: all 700ms ease;
    }

.my-splash-exit-done {
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}
    .my-splash-exit-done::before {
        opacity: 0;
    }

    .my-splash-exit-done > h1 {
        font-size: 48px;
        transition: all 700ms ease;
    }

    .my-splash-exit-done > h3 {
        opacity: 0;
    }


/* nav animations 
only uses exit classes as the animations of this component are tied to the same state as the splash component*/

.my-nav-exit {
    opacity: 0.2;
    transform: translateY(-100px) scaleY(0);
}

.my-nav-exit-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms, transform 500ms ease;
}

/* frame animations */
.my-frame-enter {
    opacity: 0.1;
}

.my-frame-enter-active {
    opacity: 1;
    transition: opacity 300ms, height ease-in-out 300ms;
}

.my-frame-exit {
    opacity: 1;
}

.my-frame-exit-active {
    opacity: 0.1;
    transition: opacity 300ms, height ease-in-out 300ms;
}
