/* body animations */
.my-main-enter {
    opacity: 0;
}

.my-main-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}

.my-main-exit {
    opacity: 1;
}

.my-main-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.my-splash-enter {
    opacity: 1;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}


.my-splash-enter-active {
    opacity: 1;
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}

    .my-splash-enter::before, .my-splash-enter-active::before, .my-splash-enter-done::before, .my-splash-exit-active::before {
        content: '';
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        z-index: -1;
    } /* This pseudo element whites out the rest of the elements behind the splash text */

.my-splash-enter-done {
    font-size: 100px;
    top: 0%;
    left: 0%;
}

.my-splash-exit {
    font-size: 100px;
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}


.my-splash-exit-active {
}

    .my-splash-exit-active::before {
        opacity: 0;
        transition: opacity 700ms ease;
    }

    .my-splash-exit-active > h1 {
        font-size: 48px;
        top: 0%;
        left: 0%;
        transition: all 700ms ease;
    }

    .my-splash-exit-active > h3 {
        transform: translateX(-50%);
        opacity: 0;
        transition: all 700ms ease;
    }

.my-splash-exit-done {
    top: 0%;
    left: 0%;
    transition: all 700ms ease;
}

    .my-splash-exit-done > h1 {
        font-size: 48px;
        transition: all 700ms ease;
    }

    .my-splash-exit-done > h3 {
        opacity: 0;
    }


/* nav animations */
/* matrix parameters: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */

.my-nav{
    opacity: 0;
}

.my-nav-enter {
    opacity: 0.2;
    transform: translateY(-100px) scaleY(0);

}

.my-nav-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms, transform 500ms ease;
}

.my-nav-exit {
    opacity: 1;
}

.my-nav-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* frame animations */
.my-frame-enter {
    opacity: 0.1;
}

.my-frame-enter-active {
    opacity: 1;
    transition: opacity 300ms, height ease-in-out 300ms;
}

.my-frame-exit {
    opacity: 1;
}

.my-frame-exit-active {
    opacity: 0.1;
    transition: opacity 300ms, height ease-in-out 300ms;
}
