/*

*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap');

:root {
    --myBurgundy: #690c37;
    --myDarkerBurgundy: #4a0619;
    --myDarkestBurgundy: #1a0000;
}

body {
    max-width: 1380px;
    margin: auto;
    background-color: white;
    min-width: 350px;
}
/*
    #a8b0bd
    styling for top navigation bar
*/
#nav {
    /* content properties */
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    background-image: linear-gradient(var(--myBurgundy), var(--myDarkerBurgundy));
    /* border properties */
    /*box-shadow: 0px 0px 2px 3px white;*/
    padding: 40px 120px 40px 120px;
    border-radius: 0 0 1px 1px;
    /*border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: inset;
    border-width: 0 4px 4px 4px;
    border-color: var(--myBurgundy);*/
    min-width: 300px;
    flex-wrap: wrap;
}
/*
    
    justify-content: center;
    margin: 0 25px 0 25px;
*/

#content {
    max-width: 1280px;
    min-width: 420px;
    margin: 0 60px 0 60px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px white;
    border-radius: 6px 6px 6px 6px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: -27px -27px;
    justify-content: left;
}

#splash {
    position: fixed;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    margin: auto;
    color: var(--myBurgundy);
}

.project {
    /* spacing */
    min-width: 350px;
    max-width: 350px;
    margin: 27px 27px;
    flex-basis: calc(100% / 3);
    display: inline-block;
}

    .project:hover {
        border-radius: 6px 6px 6px 6px;
        transform: translate(5px, 5px);
        transition: transform 1.5s;
    }

        .project::before {
            box-shadow: 0px 0px 8px 2px var(--myBurgundy);
        }

button {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 32px;
    /* tidying ugly default button style */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
}

a:hover {
    text-shadow: 1px 1px 1px white;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: var(--myDarkerBurgundy);
    position: center;
}

p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
/*
    font-family: 'Bebas Neue', cursive;

    font-family: 'Dosis', sans-serif;

    font-family: 'Encode Sans', sans-serif;

    font-family: 'News Cycle', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Red Hat Display', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
*/
