<h1 class="pageTitle"> Kelowna Beer Club </h1>
<h2> Created for COSC 213 - Web Development with LAMP </h2>
<h2> Partner project with Kaylan Horne </h2>
<p>
	We created this silly mock-up site as a semester end project
	cumulating our learning of the LAMP stack. The site runs on base PHP
	and has a live database to hold the data on the various listed beers and the
	user reviews of them. It contains a basic user account system with password rules
	and is served with a linux server running apache2
</p>
<p>
	My skillset has significantly expanded since the creation of this site but
	I believe it is a solid example of a complete back-end project.
</p>
<p style="color: var(--myDarkerBurgundy);">
	DISCLAIMER: The following link is to a live demo of the site. But it currently has a
	self-signed certificate and https + security-through-obscurity principles
	as its only security measures. You should not use any real personal information
	or email addresses, nor are you required to.
</p>
<p>
	Check out live demo:
    <a href="https://34.222.134.243/firstpage.php"> Kelowna Beer Club </a>
	or the
    <a href="https://github.com/ClayGale/213KBCdemo"> GitHub Repository </a>
</p>
<p style="margin:0;">Samples:</p>
<img class="sample" src="/api/images/beersite_screenshot1.PNG" alt="sample" />
<img class="sample" src="/api/images/beersite_screenshot2.PNG" alt="sample" />
