<h1> i-Search Kelowna Analytic Prototypes </h1>
<h2> Created for COSC 224 - Projects in Computer Science </h2>
<h2> Team Project With Brett Steck, Dakota Moore, and William Paul </h2>

<p>
	For our capstone project in COSC224 we worked with Professor Kerry Rempel.
	She was working with a team to develop <a href="https://isearchkelowna.ca/"> i-Search Kelowna, </a>
	a website serving kelowna with a searchable map of housing resourses for at-risk and low-income individuals.
	We worked to develop several graph based data analysis prototypes for 
	their internal use and possible future development.
</p>
<p>
	Some of the prototypes we developed used real data that was provided to us. It provided invaluable 
	experience working within odd constraints to deliver the end-result.
</p>
<p>
	I am not sure if i-Search Kelowna is still being maintained but the site is still active at least.
</p>
<p>
	Due to the fact that I no longer have access to the original dataset (some of which could be deemed sensitive info anyway). 
	I have not linked it here, or hosted a live demo. 
	Though I would be happy to talk about it and show some parts of it upon request
</p>


<img src="/images/isearch_screenshot1.png" alt="sample" />
<img src="/images/isearch_screenshot2.png" alt="sample" />