<h1>Personal Computer Building Manual</h1>

<h2>Written for CMNS 113 - Technical communications for information technology</h2>
<h2>Partner Project with Michael McClain</h2>

<p>
    This manual is an elaborate 18 step guide to building a personal computer from parts.
    Each step is written as concisely as possible given the complexity of the task. Figures, tips, and warnings
    are presented throughout to provide relevant info without breaking the main guide flow.
</p>
<p>
    I have sent this manual to multiple friends who were building a PC and they each used it with success.
    My belief is that the quality of this manual speaks for itself.
</p>
<a href="http://localhost:5000/files/PCbuildmanual.docx" download> Document Download </a>
<p style="margin:0;">Sample:</p>
<img class="sample" src="/api/images/manual_screenshot.PNG" alt="sample from CPU insertion segment" />
