<h1>Minesweeper Clone</h1>

<p>
    The project is a full recreation of Minesweeper with some extra features that I tried my hand at making.
    I added configurable difficulty settings and ridiculously large possible board sizes board sizes.
</p>
<p>
    This project started out as an assignment for COSC 121 - Computer Programming 2.
    But I far surpassed the requirements of the assignment and am proud of this project considering my knowledge at
    the time that I made it.
</p>
<p>
    I would likely design aspects of it differently today now that I have a stronger understanding of data-structures
    and optimization.
    
</p>
<p style="color: var(--myDarkerBurgundy);">
    DISCLAIMER: This program depends on the JavaFX library. Which was removed from the JDK in version 11.
    Versions 8 through 10 should run it just fine. At a future date I intend to come back and fix it.
</p>
<p>
    Download the
    <a href="http://localhost:5000/files/minesweeper.jar" download> Executable .JAR </a>
    or check out the 
    <a href="https://github.com/ClayGale/Minesweeper-clone"> GitHub Repository </a>
</p>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AOxI6LyaHcU" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; 
        autoplay; 
        clipboard-write; 
        encrypted-media; 
        gyroscope; 
        picture-in-picture" 
        allowfullscreen>
</iframe>
<p style="margin:0;">Samples:</p>
<img class="sample" src="/images/minesweeper_screenshot1.png" alt="sample of small board" />
<br />
<img class="sample" src="/images/minesweeper_screenshot2.png" alt="sample of larger board" />