<h1>This Website</h1>

<p>
    This website is built on the hybridization of
    React as a front-end view and Flask as a back-end API serving html, json, images, and files.
    Going into the creation of this site I knew nothing about React and was less practiced with Flask/Python,
    building this site was a very useful learning experience.
</p>
<p>
    The project and education pages contain a small search engine. It is used twofold to allow visitors to
    filter for specific keywords, and to allow the resume links on the front page to easily go to
    specific classes or projects.
</p>

<p>
    Check out the 
    <a href="https://github.com/ClayGale/RF_personal_site"> GitHub Repository </a>
</p>
<p>
    I built a data flow diagram to help explain the structure of the site, check it out!
</p>

<h2>
    Legend:
    <span class="legendBox" style="background-color: #61dbfb;">React Parts</span>
    <span class="legendBox" style="background-color: #ffe873;">Flask Parts</span>
    <span style="color: #4b061a;">  API connections &#10230</span>
</h2>
<img class="sample" width=1000 src="/images/Personal_site_DFD.png" alt="Site Diagram" />